.idea/
tensorboard_logs/
Corpora/
Models/
audios/
Preprocessing/glottolog/
apex/
pretrained_models/
.tmp/
.vscode/
split/
singing/
toucan_conda_venv/
venv/
vis/


*_graph
app.py
gradio*
*playground*
run_phonemizer.py

*.pt
*.out
*.wav
*.flac
*.json
*.pyc
*.png
*.pdf