.idea
*.pyc
*.png
*.pdf
tensorboard_logs
Corpora
Models
*_graph
*.out
*.wav
audios/notes.txt
audios/
!Utility/german_demo.wav
!Utility/english_demo.wav
!Utility/multi_demo.wav
!Utility/german_demo.png
!Utility/english_demo.png
!Utility/multi_demo.png