.idea/
tensorboard_logs/
Corpora/
Models/
audios/
apex/
pretrained_models/
.tmp/
.vscode/
split/
singing/
toucan_conda_venv/

*_graph
app.py
gradio*
*playground*

*.pt
*.out
*.wav
*.json
*.pyc
*.png
*.pdf
*.pt
Models
