clean-text
graphviz
huggingface-hub
jiwer
librosa
matplotlib
noisereduce
numba
numpy
phonemizer==3.1.1
praat-parselmouth
pyloudnorm
pypinyin
pyworld
scipy
segments
sentencepiece
sklearn
sounddevice
SoundFile
speechbrain==0.5.10
tokenizers
tqdm
transformers
timm
gradio==2.7.5.2
Jinja2